*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    
}
.container{
    max-width: 1200px;
    margin:auto;
    display:flex;
    flex-flow: column nowrap;  
}
.header{
    background: black;
    display:flex;
    flex-flow: column nowrap; 
}   
    .menu{
        background: #2d4059;
        display:flex;
        flex-flow: row nowrap;
}
        .logo{
            background: #ea5455;
            flex:1 1 auto;
        }
        .nav{
            background: #ea5455;
            flex:5 1 auto;
        }
        .social{
            background: #ea5455;
            flex:1 1 auto;
        }
    .main-text{
        background: #f07b3f;
    }
        h1{
            background: #ffd460;
        }
.section{
    background: black;
    display:flex;
}   
    .articles{
        background: #4e4e6a;
        flex:2 1 auto;
        display:flex;
        flex-flow: row wrap;
    }
        .article{
            background: #1f6cb0;
            flex: 1 1 40%;
        }
        .navigation{
            background: #70a3c4;
            flex: 1 1 100%;
        }
    .aside{
        background: #f73f52;
        flex:1 1 auto;
    }
        .publi{
            background: #ffea85;
        }
.footer{
    background: black;
}
    .foot{
        background: #e6af2e;
    }
    @media all and (max-width: 800px){
        .section{
            flex-direction: column;
        }
    }
    @media all and (max-width: 600px){
        .articles{
            flex-direction: column;
        }
        .menu{
            flex-direction: column; 
        }
    }